modules = ["python-3.10", "c-clang14", "cpp-clang14", "web", "nodejs-20"]

hidden = [".pythonlibs"]
run = "python run.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
