{% extends 'base.html' %}

{% block title %}
    LearnLoop One
{% endblock %}

{% block styled %}
    <style>
        #feedbackMessage {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 9999;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Crie seu próprio artigo</h3>
  <form action='/create-artigo' method="POST" onsubmit="return onSubmit()">
    <input type="text" placeholder="Digite o título do artigo" name="title-art" required onfocus="showMessage('Você está indo bem!')">
    <input type="text" placeholder="Digite a categoria do artigo" name="category" required onfocus="showMessage('Continue preenchendo os campos.')">
    <input type="text" placeholder="Digite as tags do artigo" name="tags" required onfocus="showMessage('Quase lá!')">
    <textarea placeholder="Digite o conteúdo do artigo" name="conteudo-art" id="conteudo-art" required onfocus="showMessage('Último passo!')"></textarea>

    <button type="submit" id="submitButton">Publicar Artigo</button>
  </form>
  <div style='display: flex; gap: 0.5em;'>
    <button style="margin-top: 1em;" onclick="gerarArtigo()">Criar com Learn.Ai</button>
    <button style="margin-top: 1em;" onclick="previewArtigo()">Preview de artigo</button>
  </div>
</div>

<div id="loading-overlay">
    <div id="loading">
        <div class="lds-dual-ring"></div>
    </div>
</div>

<div id="feedbackMessage"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.js" integrity="sha512-58Cj9pM2ndGHIIY58rq330v1/LuFmUBapU2f7LQjEy0WGTsCkVsF02MFcMsKP31lKwEWOEyygaj7vlXUOpJyUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/create-artigo.js')}}"></script>

<script>
    function onSubmit() {
        var submitButton = document.getElementById("submitButton");
        var loadingOverlay = document.getElementById("loading-overlay");

        submitButton.disabled = true; // Desabilita o botão de envio
        loadingOverlay.style.display = "block"; // Exibe o overlay de carregamento

        // Submete o formulário
        return true;
    }

    function showMessage(message) {
        var feedbackMessage = document.getElementById("feedbackMessage");
        feedbackMessage.textContent = message;
        feedbackMessage.style.display = "block";
        setTimeout(function() {
            feedbackMessage.style.display = "none";
        }, 2000); // Oculta a mensagem após 2 segundos
    }
</script>
{% endblock %}
