{% extends 'base.html' %}

{% block title %}Mostra FECIBA{% endblock %}

{% block metas %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2345353716426198"
     crossorigin="anonymous"></script>
{% endblock %}

{% block styled %}
<style>
  .list-projetos {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .projeto {
    padding: 7px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
  }

  .projeto:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .projeto a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2em;
  }

  .projeto a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Mostra de Projetos - FECIBA</h3>
  <div class="list-projetos">
    <button onclick="window.location.href='/feciba-add'">Publicar Projeto</button>
    {% if projetos %}
      {% for projeto in projetos %}
        <div class="projeto">
          <a style="text-decoration: none; color: #fff" href="/projeto/{{ projeto.id }}">{{ projeto.title }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>Nenhum projeto encontrado.</p>
    {% endif %}
  </div>
</div>
{% endblock %}