{% extends 'base.html' %}

{% block title %}
    LearnLoop One
{% endblock %}

{% block content %}
<div class="container">
    <h3>Publicar Projeto</h3>

    <form action="/api/postar-projeto" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Digite aqui o titulo do seu projeto" id="title"></input>
        <textarea name="resumo" placeholder="Digite aqui o resumo do seu projeto" id="resumo"></textarea>
        
        <input type="file" name="imagem"></input>
        <small>Faça upload de uma imagem para representar na página do seu projeto no espaço acima</small>

        <input type="file" name="projeto"></input>
        <small>Selecione o arquivo do seu projeto no espaço acima</small>

        <button type="submit">Publicar</button>
    </form>
</div>
{% endblock %}