{% extends 'base.html' %}

{% block title %}
    LearnLoop One | Grupos
{% endblock %}

{% block styled %}
    <style>
        .custom-details {
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            cursor: pointer;
        }

        .custom-details-summary {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .custom-details-content {
            overflow: hidden;
            margin-top: 10px;
            max-height: 0;
            transition: max-height 0.3s ease;
        }

        .custom-details.open .custom-details-content {
            max-height: 1000px; /* Valor alto para garantir que a altura máxima seja suficiente */
            transition: max-height 0.8s ease; /* Adiciona uma transição mais lenta */
        }

        .custom-details-arrow {
            transition: transform 0.3s ease;
        }

        .custom-details.open .custom-details-arrow {
            transform: rotate(90deg);
        }

        .custom-details p {
            padding: 5px;
            border: none;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            transition: background-color 0.3s ease;
        }

        .custom-details p:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

      #list-arquivos {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.7em;
        color: #ffffff;
        margin-top: 2em;
      }

      #list-arquivos a {
        text-decoration: none;
        color: #fff;
        display: flex;
        gap: 0.7em;
        align-items: center;
      }

      textarea {
        width: 100%;
      }
    </style>
{% endblock %}

{% block content %}
    <div class='container'>
        <h2>Gerenciamento de Grupo</h2>
        <div class='infos-basic'>
            <h4>{{group.nome}}</h4>
            <small>{{group.membros}}</small>
        </div>

        <!-- Organizacao gerada por Learn.Ai -->
        <div class="custom-details" onclick="toggleDetails(this)">
            <div class="custom-details-summary">
                <span>Organização de Grupo</span>
                <span class="custom-details-arrow">▶</span>
            </div>
            <div class="custom-details-content">
                <textarea>{{group.organizacao}}</textarea>
            </div>
        </div>

        <!-- Lista de wikis -->
        <div class="custom-details" onclick="toggleDetails(this)">
            <div class="custom-details-summary">
                <span>Wikis</span>
                <span class="custom-details-arrow">▶</span>
            </div>
            <div class="custom-details-content" id="list-wikis">
                <button onclick='criarWiki()'>Criar Wiki</button>
                {% for wiki in wikis %}
                    <p style='margin-top: 1em;'>{{wiki}}</p>
                {% endfor %}
            </div>
        </div>

      <div class="custom-details" onclick="toggleDetails(this)">
          <div class="custom-details-summary">
              <span>Arquivos</span>
              <span class="custom-details-arrow">▶</span>
          </div>
          <div class="custom-details-content" id="list-files">
              <form action="/api/upload-file/group/{{group.id}}" method="post" enctype="multipart/form-data">
                  <label for="arquivo-input" class="custom-file-label" id="arquivo-label" style='padding: 5px; border: 0.5px solid #fff; border-radius: 6px;'>Selecionar arquivo</label>
                  <input type="file" name="arquivo" id="arquivo-input" style="display: none;" onchange="updateFileName(this)">
                  <button type="submit">Enviar</button>
              </form>

              <div id="list-arquivos">
                  {% for file in files %}
                      <a href="/api/download-file/{{group.id}}/<{{file.nome}}>"
                          ><span class="material-symbols-outlined">save</span
                          ><p>{{file.nome}}</p></a
                      >
                  {% endfor %}
              </div>
          </div>
      </div>

      <script>
          function updateFileName(input) {
              const label = document.getElementById("arquivo-label");
              if (input.files.length > 0) {
                  label.textContent = input.files[0].name;
              } else {
                  label.textContent = "Selecionar arquivo";
              }
          }
      </script>



        <button style='margin-top: 3em;' onclick='window.location.href = "/api/delete-group/{{group.id}}"'>Deletar Grupo</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function toggleDetails(element) {
            element.classList.toggle('open');
        }

        function criarWiki() {
            Swal.fire({
                title: 'Criar Wiki',
                input: 'text',
                inputLabel: 'Nome da Wiki',
                inputPlaceholder: 'Nome da Wiki',
                inputAttributes: {
                    maxlength: '50',
                },
                showCancelButton: true,
                confirmButtonText: 'Criar',
                cancelButtonText: 'Cancelar',
                showLoaderOnConfirm: true,
                preConfirm: (name) => {
                    return axios.post('/api/wikis/add', {
                        wiki: name,
                        group: '{{group.id}}'
                    })
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Wiki criada com sucesso!',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        }
    </script>
{% endblock %}
