{% extends 'base.html' %}

{% block title %}LearnLoop One{% endblock %}

{% block styled %}
<style></style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Sessão de estudos</h3>

  <div>
    <input type="text" placeholder="Qual o assunto que você está estudando?"></input>
    <div>
      <p>Tempo estudado: 04:00:00</p>
      <div>
        <button>Iniciar</button>
        <button>Pausar</button>
        <button>Parar</button>
      </div>
    </div>

    <textarea id="resumo" placeholder="Digite aqui suas anotações"></textarea>
    <div>
      <button>Aprimorar Anotação com IA</button>
      <button>Salvar Sessão de estudos</button>
    </div>
  </div>
</div>


<div>
  <h3>Suas últimas sessões de estudos</h3>
  <div>
    <div>
      <p><strong>Assunto - 04:00:00</strong></p>
    </div>
  </div>
</div>
    

      
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{url_for('static', filename='js/plan.js')}}"></script>
{% endblock %}