{% extends 'base.html' %}

{% block title %}LearnLoop One{% endblock %}

{% block styled %}
<style>
  #conteudo {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>{{artigo.titulo}}</h3>
  <small>Criado por: {{autor.username}}</small>

  <section>
    <a href="https://instagram.com/learnloop.of">Coloque um anúncio aqui</a>
  </section>
  <div id="conteudo">
    <p >{{artigo.texto | safe}}</p>
  </div>
 
  <div class="btns">
    <button onclick="window.location.href = '/add-like/{{artigo.id}}'">
      <span class="material-symbols-outlined">
      thumb_up
      </span> ({{artigo.likes}})
    </button>
{% if session['user'] == artigo.autor %}
    <button onclick="deleteArtigo()" style="margin-top: 1em;">Deletar Artigo</button>
    {% endif %}
    <button style="margin-top: 1em;" onclick="copiarToken('https://learnloop.site/artigo/{{artigo.id}}')">Copiar Link do artigo</button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  function deleteArtigo() {
    var senha = prompt("Digite a senha para deletar o artigo:");
    if(senha === false) {
      return;
    } else {
      axios.get("/delete-artigo/{{artigo.id}}?senha="+senha).then((r) => {
        if(r.data.msg === "success") {
          window.location.href='/'
        }
      })
    }
  }

  function copiarToken(link) {
    // Cria um elemento de texto temporário
    let tempInput = document.createElement("input");
    tempInput.value = link; // Define o valor do campo temporário como a string do link

    // Adiciona o campo temporário ao documento
    document.body.appendChild(tempInput);

    // Seleciona e copia o valor do campo temporário
    tempInput.select();
    tempInput.setSelectionRange(0, 99999);
    document.execCommand("copy");

    // Remove o campo temporário
    document.body.removeChild(tempInput);

    alert("O link do artigo foi copiado");
  }
</script>
{% endblock %}