{% extends 'base.html' %}

{% block title %} {{artigo.titulo}} {% endblock %}
{% block metas %}
<meta name="description" content="Leia esse artigo incrível sobre {{artigo.titulo}} com uma linguagem descontraída, leve e inovadora e saia daqui aprendendo de fato.">
<meta name="keywords" content="{{artigo.tags}}">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2345353716426198"
     crossorigin="anonymous"></script>
{% endblock %}

{% block styled %}
<style>
  #conteudo {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .container h3 {
    line-height: 0.9em;
  }

  li {
    margin-left: 1.2em;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>{{artigo.titulo}}</h3>
  <small>Criado por: {{autor.username}}</small>

  <section onclick="window.location.href='https://instagram.com/ogustavo.developer">
    <img src="{{url_for('static', filename='img/ads-3.png')}}">
  </section> 
<!--
  <ins
	class="adupeex"
	data-ad-client="up-ba-332046"
	data-ad-slot="37599"
	data-ad-display="horizontal"
	style="display:block;background-color:#FFF;"
>
</ins> 
<script src="https://upeex.com.br/adsupeex.js" async>
</script>-->
  <div id="conteudo">
    <p>{{artigo.texto | safe}}</p>
  </div>

  <div class="btns">
    <button onclick="window.location.href = '/add-like/{{artigo.id}}'">
      <span class="material-symbols-outlined">thumb_up</span> ({{artigo.likes}})
    </button>

    <button style='margin-top: 1em;' onclick="tiraDuvida()">
      Tirar Dúvida
    </button>
    {% if session['user'] == artigo.autor %}
    <button onclick="deleteArtigo()" style="margin-top: 1em;">Deletar Artigo</button>
    {% endif %}
    <button style="margin-top: 1em;" onclick="copiarToken('https://learnloop.site/artigo/{{artigo.id}}')">Copiar Link do artigo</button>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
function tiraDuvida() {
  Swal.fire({
    title: 'Tirar Dúvida do artigo',
    html: '<input type="text" id="duvida" placeholder="Digite sua dúvida do artigo">',
    focusConfirm: false,
    preConfirm: () => {
      const duvida = document.getElementById('duvida').value;
      return axios.post('/api/tirar-duvida-artigo', {
        duvida: duvida,
        conteudo_artigo: `{{artigo.texto}}`
      })
      .then(response => {
        Swal.fire({
          title: 'Resposta',
          text: response.data.resposta,
          icon: 'success'
        });
      })
      .catch(error => {
        Swal.fire({
          title: 'Erro',
          text: 'Ocorreu um erro ao processar sua solicitação.',
          icon: 'error'
        });
      });
    }
  });
}

function deleteArtigo() {
  alert('ok')
  var senha = prompt("Digite a senha para deletar o artigo:");
  if (senha === false) {
    return;
  } else {
    axios.get("/delete-artigo/{{artigo.id}}?senha="+senha).then((r) => {
      if (r.data.msg === "success") {
        window.location.href='/'
      }
    });
  }
}

function copiarToken(link) {
  let tempInput = document.createElement("input");
  tempInput.value = link;
  document.body.appendChild(tempInput);
  tempInput.select();
  tempInput.setSelectionRange(0, 99999);
  document.execCommand("copy");
  document.body.removeChild(tempInput);
  alert("O link do artigo foi copiado");
}
</script>
{% endblock %}
