{% extends 'base.html' %}

{% block title %}LearnLoop One{% endblock %}

{% block content %}
<div class="container">
  <h3>{{artigo.titulo}}</h3>
  <small>{{autor.username}}</small>

  <div>
    <p>{{artigo.texto | safe}}</p>
  </div>

  <div class="btns">
    <button onclick="window.location.href = '/add-like/{{artigo.id}}'">
      <span class="material-symbols-outlined">
      thumb_up
      </span> ({{artigo.likes}})
    </button>
{% if session['user'] == artigo.autor %}
    <button onclick="deleteArtigo()" style="margin-top: 1em;">Deletar Artigo</button>
    {% endif %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  function deleteArtigo() {
    var senha = prompt("Digite a senha para deletar o artigo:");
    if(senha === false) {
      return;
    } else {
      axios.get("/delete-artigo/{{artigo.id}}?senha="+senha).then((r) => {
        if(r.data.msg === "success") {
          window.location.href='/'
        }
      })
    }
  }
</script>
{% endblock %}