{% extends 'base.html' %}

{% block title %}Estudaê - Corrigir Redação{% endblock %}

{% block styled %}
<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .form input, textarea {
    width: 100%;
  }

  #resposta li {
    margin-left: 1.2em;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <h3>Corretor de Redação</h3>
  {% if not session["user"] %}
  <span class="alert">Você precisa ter uma conta para usar este recurso! <a href="/cadastro">clique aqui para se cadastrar</a> ou, se já tem uma conta <a href='/login'>clique aqui para entrar.</a></span>
  {% endif %}
  
  <div class="form">
    <input id="tema_custom" type="text" placeholder="Digite o tema da sua redação (obrigatório)">
    <select id="tema">
      <option value="">-- Escolha um tema sugerido --</option>
      <option value="Os desafios para combater a desinformação produzida por inteligências artificiais no Brasil">Os desafios para combater a desinformação produzida por inteligências artificiais no Brasil</option>
      <option value="Caminhos para ampliar a permanência estudantil no ensino superior brasileiro">Caminhos para ampliar a permanência estudantil no ensino superior brasileiro</option>
      <option value="Os impactos da dependência digital na saúde mental dos jovens brasileiros">Os impactos da dependência digital na saúde mental dos jovens brasileiros</option>
      <option value="Desafios para garantir a inclusão produtiva dos jovens no mercado de trabalho">Desafios para garantir a inclusão produtiva dos jovens no mercado de trabalho</option>
      <option value="A valorização da ciência como instrumento de desenvolvimento nacional">A valorização da ciência como instrumento de desenvolvimento nacional</option>
      <option value="Os desafios para promover a participação política da juventude brasileira">Os desafios para promover a participação política da juventude brasileira</option>
      <option value="Caminhos para enfrentar a insegurança alimentar em áreas urbanas do Brasil">Caminhos para enfrentar a insegurança alimentar em áreas urbanas do Brasil</option>
      <option value="Os impactos da emergência climática na vida das populações vulneráveis">Os impactos da emergência climática na vida das populações vulneráveis</option>
      <option value="Desafios para garantir a acessibilidade digital no Brasil contemporâneo">Desafios para garantir a acessibilidade digital no Brasil contemporâneo</option>
      <option value="A importância do protagonismo estudantil na construção de uma sociedade democrática">A importância do protagonismo estudantil na construção de uma sociedade democrática</option>
    </select>
    <input id="titulo" type="text" placeholder="Digite o título de sua redação">
<label for="nivel">Selecione o nível de ensino:</label>
  <select id="nivel">
    <option value="Ensino Fundamental Anos Finais">Ensino Fundamental (Anos Finais)</option>
    <option value="1° ano Ensino Médio">1° Ano do Ensino Médio</option>
    <option value="2° ano Ensino Médio">2° Ano do Ensino Médio</option>
    <option value="3° ano Ensino Médio" selected>3° Ano do Ensino Médio</option>
  </select>
    <textarea id="conteudo" placeholder="Digite sua redação (obrigatório)"></textarea>
  </div>

  <button onclick="redacaoGuiada()">Redação Guiada</button>
  
  <button onclick="redacao()">Enviar para Correção</button>
  <button onclick="carregarFoto()">Digitalizar Redação Manuscrita</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<script src="{{ url_for('static', filename='js/redacao.js') }}"></script>
{% endblock %}
