{% extends 'base.html' %}

{% block title %}LearnLoop One{% endblock %}

{% block styled %}
<style>
  .form {
    display: flex;
    flex-direction: column;
  }

  .form input, textarea {
    width: 100%;
  }

  #resposta li {
    margin-left: 1.2em;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <section onclick="window.location.href='https://instagram.com/ogustavo.developer">
    <img src="{{url_for('static', filename='img/ads-3.png')}}" alt="Anúncio">
  </section>
</div>
<div class="container">
  <h3>Treino de Redação</h3>
  {% if not session["user"] %}
  <span class="alert">Você precisa ter uma conta para usar este recurso! <a href="/cadastro">clique aqui para se cadastrar</a></span>
  {% endif %}
  
  <div class="form">
    <input id="tema" type="text" placeholder="Digite o tema da sua redação">
    <input id="titulo" type="text" placeholder="Digite o título de sua redação">
<label for="nivel">Selecione o nível de ensino:</label>
  <select id="nivel">
    <option value="Ensino Fundamental Anos Finais">Ensino Fundamental (Anos Finais)</option>
    <option value="1° ano Ensino Médio">1° Ano do Ensino Médio</option>
    <option value="2° ano Ensino Médio">2° Ano do Ensino Médio</option>
    <option value="3° ano Ensino Médio" selected>3° Ano do Ensino Médio</option>
  </select>
    <textarea id="conteudo" placeholder="Digite sua redação"></textarea>
  </div>
  <button onclick="redacao()">Enviar</button>
  <button onclick="carregarFoto()">Carregar Foto do Caderno</button>
  <button onclick="salvarRedacao()">Salvar Redação em sua conta</button>
</div>

<div class="container">
  <p id="resposta" style="display: flex; flex-direction: column; gap: 0.5em;"</p>
</div>

<div class="container">
  <h3>Suas Redações Salvas</h3>
  {% if redacoes is not defined or redacoes.length == 0 %}
  <p>Nenhuma Redação Salva.</p>
  {% else %}
  <div>
    {% for redacao in redacoes %}
    <details>
      <summary>{{redacao.titulo}}</summary>
      {{redacao.texto | safe}}
    </details>
{% endfor %}
    
  </div>
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{ url_for('static', filename='js/redacao.js') }}"></script>
{% endblock %}